.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-background-page);
}

.app__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app__content {
  flex: 1;
  overflow-y: auto;
}
